# VS / .NET build output
bin/
obj/
.publish/
publish/
runtimectx/

# VS / Rider / user stuff
.vs/
*.user
*.suo

# Logs
*.log
# VS publish profiles
*.pubxml
*.pubxml.user
**/Properties/PublishProfiles/

# App settings (keep samples only)
*appsettings*.json
!appsettings.sample.json
